{% extends 'base.html' %}

{% block title %}
<title>{{ articlename }}</title>
{% endblock %}

{% block content %}
<div class="extendedcontent">
    <div class="leftsidebar sidebar">
        <h3>Rate This Summarization</h3>
        <p>Is this important to you?</p>
        <form id="imp" class="rating">
            <input type="radio" id="bYes" name="bias" value="yes">
            <label for="Yes">Yes</label><br>
            <input type="radio" id="bNo" name="bias" value="no">
            <label for="No">No</label><br>
        </form>
        <p>Is this summarization biased?</p>
        <form id="bias" class="rating">
            <input type="radio" id="bYes" name="bias" value="yes">
            <label for="Yes">Yes</label><br>
            <input type="radio" id="bNo" name="bias" value="no">
            <label for="No">No</label><br>
        </form>
        <p>Your vote</p>
        <form id="opin" class="rating">
            <input type="radio" id="bYes" name="bias" value="yes">
            <label for="Yes">Yes</label><br>
            <input type="radio" id="bNo" name="bias" value="no">
            <label for="No">No</label><br>
        </form>
        <button class="nicebutton" type="submit" value="Submit" onclick="SubmitRatings()">Submit</button>
    </div>
    <div class="summary">
        <h1>{{ title }}</h1>
        <p>{{ summary }}</p>
    </div>
    <div class="rightsidebar sidebar">
        <h3>People Rated This Summary</h3>
        <p>{{ importance }}</p>
        <p>{{ bias }}</p>
    </div>
</div>
<script src="./user_interaction.js"></script>
<br>
{% endblock %}