{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}
<div id="allblogpostscontainer">
    <div class="blogpost" onclick="window.location.href='HB 59'">
        <h2 class="blogposttitle">HB 59</h2>
        <p>Not Currently Available</p>
    </div>
    <div class="blogpost" onclick="window.location.href='HB 60'">
        <h2 class="blogposttitle">HB 60</h2>
        <p>This bill proposes changes to Ohio's property tax laws for homestead exemptions, disabled veterans, public service officers killed in the line of duty, and surviving ...</p>
    </div>
    <div class="blogpost" onclick="window.location.href='HB 61'">
        <h2 class="blogposttitle">HB 61</h2>
        <p>The bill establishes James A. Garfield Day on November 19th in Ohio.</p>
    </div>
    <div class="blogpost" onclick="window.location.href='HB 62'">
        <h2 class="blogposttitle">HB 62</h2>
        <p>The bill makes changes to sections 2307.601, 2901.05, and 2901.09 of a previously passed law.</p>
    </div>
    <div class="blogpost" onclick="window.location.href='HB 63'">
        <h2 class="blogposttitle">HB 63</h2>
        <p>Not Currently Available</p>
    </div>
    <div class="blogpost" onclick="window.location.href='SB 58'">
        <h2 class="blogposttitle">SB 58</h2>
        <p>This bill prohibits the requirement of fees or firearm liability insurance and provides that individuals may own, possess, purchase, acquire, transport, store, carry, ...</p>
    </div>
    <div class="blogpost" onclick="window.location.href='SB 59'">
        <h2 class="blogposttitle">SB 59</h2>
        <p>This bill prohibits individuals under age 18 from using sun lamp tanning services at a tanning facility without parental consent. It also outlines regulations for tanning facilities ...</p>
    </div>
    <div class="blogpost" onclick="window.location.href='SB 61'">
        <h2 class="blogposttitle">SB 61</h2>
        <p>This bill sets a $35 limit per thirty-day supply of prescription insulin, regardless of amount or type needed. The cap applies to all issuers providing coverage for prescription insulin...</p>
    </div>
    <div class="blogpost" onclick="window.location.href='SB 62'">
        <h2 class="blogposttitle">SB 62</h2>
        <p>The bill establishes James A. Garfield Day on November 19th in Ohio.</p>
    </div>
    <div class="blogpost" onclick="window.location.href='SB 63'">
        <h2 class="blogposttitle">SB</h2>
        <p>This bill requires a plaintiff in a tort action alleging an asbestos claim to file specified disclosures within thirty days of filing any complaint. The disclosures must include ...</p>
    </div>
</div>
{% endblock %}