{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}
<div id="allblogpostscontainer">
    <div class="blogpost" onclick="window.location.href='1'">
        <h2 class="blogposttitle">Post Title 1</h2>
        <p>This is the content of the first post. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ducimus molestias est autem voluptate architecto nihil minima eaque odio sit! Minus qui suscipit et quidem vero laborum eos cupiditate! Sint.</p>
    </div>
    <div class="blogpost">
        <h2>Post Title 2</h2>
        <p>This is the content of the second post.</p>
    </div>
    <div class="blogpost">
        <h2>Post Title 3</h2>
        <p>This is the content of the third post.</p>
    </div>
    <div class="blogpost">
        <h2>Post Title</h2>
        <p>This is the content of the third post.</p>
    </div>
    <div class="blogpost">
        <h2>Post Title</h2>
        <p>This is the content of the third post.</p>
    </div>
    <div class="blogpost">
        <h2>Post Title</h2>
        <p>This is the content of the third post.</p>
    </div>
    <div class="blogpost">
        <h2>Post Title</h2>
        <p>This is the content of the third post.</p>
    </div>
    <div class="blogpost">
        <h2>Post Title</h2>
        <p>This is the content of the third post.</p>
    </div>
    <div class="blogpost">
        <h2>Post Title</h2>
        <p>This is the content of the third post.</p>
    </div>
    <div class="blogpost">
        <h2>Post Title</h2>
        <p>This is the content of the third post.</p>
    </div>
</div>
{% endblock %}